extends layout

block head
	-if(user){var titleVar = "cook-share";}else{var titleVar = "登陆"}
	style.
		body {
			overflow: hidden;
		}

block content
	#particles-js.max-box
	.d-bg.max-box
	.mask.max-box
	.d-box
		p.d-color instacode
		br
		.rel-box
			.d-form-box.slide-box-1
				.fast-login-box.my-hidden
					canvas.user-avatar
					.fast-login-btn.ui.buttons
						button.ui.black.button#login-btn-2.clickLocalStorage
						.or(data-text="或")
						button.ui.button#exit-fast-login 切换账户
				form.ui.form#login-fm.my-hidden(role="form")
					p.login-lead
					.field
						input.ui.input#login-username(type="text", name="username", placeholder="用户名", required, oninvalid="this.setCustomValidity('用户名不能为空')")
					.field
						input.ui.input#login-password(type="password", name="password", placeholder="密码", required, oninvalid="this.setCustomValidity('密码不能为空')")
					button.fluid.ui.black.big.button#login-btn.clickLocalStorage(type="submit") 登陆
					br
					.a-door-box
						.a-door-right
							a.a-door.d-color(href="") 找回密码
						.a-door-left
							a.a-door.d-color.click-2.d-slide 注册
			.d-form-box.slide-box-2.my-hidden
				form.ui.form#register-fm(role='form', action="/register", method="post")
					p.register-lead
					.field
						input.ui.input#register-username(type='text', name="username", placeholder='用户名', required, oninvalid	="this.setCustomValidity('用户名不能为空')")
					.field
						input.ui.input#register-password(type='password', name="password", placeholder='密码', required, oninvalid="this.setCustomValidity('密码不能为空')")
					button.fluid.ui.black.big.button.clickLocalStorage.disabled#register-btn(type='submit') 注册
					br
					.a-door-box
						.a-door-right
							a.a-door.d-color.click-1 登陆
						.a-door-left
							a.a-door.d-color(href="") 找回密码
append js
	script(src='/javascripts/door.js')
	script(src='https://ohesaqgit.qnssl.com/js/particles/particles.js')
	script(src='https://ohesaqgit.qnssl.com//js/particles/app.js')