extends layout


block content
	#body-box.max-box
		.slide-box-1.max-box
			.ui.secondary.pointing.menu.h-tab
				a.item.active 最近流行
				a.item 关注
				a.item.click-2 撰写新食谱
				.right.menu
					.pointer.ui.item(onclick="location.href='/profile'") #{user.username}
		.slide-box-2.my-hidden.max-box.share-box
			.s-box#v-wrap
				#recipe-image.image-wrapper
					.img-mask
					img#uploaded-image.center
					i.photo.icon
				p {{ message }}
				br
				form.ui.form(role='form', action="/share",method="post", enctype="multipart/form-data", style='max-width: 300px;')
					.field
						input.ui.input(type='text', name="recipe_name", v-model="message", placeholder='料理标题', required)
					.field
						input.ui.input(type='text', name="brief", placeholder='一句话介绍，可不填')
					.field
						input.ui.input#upload-recipe-image(type='file', name="recipe_image", accept="image/png,image/jpg,image/jpeg")
					.field
						input.ui.input(type='text', name="materials", placeholder='食材种类', required)
					.field
						input.ui.input(type='text', name="procedure", placeholder='料理过程', required)
					button.fluid.ui.black.big.button(type='submit') 提交	
append js
	script(src='/javascripts/home.js')
	script(src='/javascripts/adaptive-backgrounds.js')