extends layout

block head
	-if(user){var titleVar = "cook-share";}else{var titleVar = "注册"}

block content
	if (!user)
		.mask-dark
		style.
			body{
				background-image: url(/images/home.jpg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		.center.my-container.signup-container
			h1.white.rem3 COOK-SHARE
			p.lead.white 与世界分享你的美味心得
			br
			form.ui.form(role="form", action="/register", method="post", style="max-width: 300px;")
				.field
					input.ui.input(type="text", name="username", placeholder="用户名", required, oninvalid="this.setCustomValidity('用户名不能为空')")
				.field
					input.ui.input(type="password", name="password", placeholder="密码", required, oninvalid="this.setCustomValidity('密码不能为空')")
				button.fluid.ui.olive.inverted.big.button(type="submit") 注册
				br
				.a-home-container
					.a-home-right
						a.a-home.white.click-login 登陆
					.a-home-left
						a.a-home.dark(href="") 找回密码
		.center.my-container.login-container.hidden
			h1.white.rem3 欢迎回来
			p.lead.white 与世界分享你的美味心得
			br
			form.ui.form(role='form', action="/login",method="post", style='max-width: 300px;')
				.field
					input.ui.input(type='text', name="username", placeholder='用户名', required, oninvalid="this.setCustomValidity('用户名不能为空')")
				.field
					input.ui.input(type='password', name="password", placeholder='密码', required, oninvalid="this.setCustomValidity('密码不能为空')")
				button.fluid.ui.olive.inverted.big.button(type='submit') 登陆
				br
				.a-home-container
					.a-home-right
						a.a-home.white.click-signup 注册
					.a-home-left
						a.a-home.dark(href="") 找回密码
	if (user)
		.ui.secondary.menu
			a.item.active 最近流行
			a.item 关注
			a.item 我的喜欢
			.right.menu
				.item
					.ui.icon.input
						input(type="text" placeholder="搜索...")
						i.search.link.icon
				.ui.simple.dropdown.item #{user.username}
					i.user.icon
					.menu.margin0
						.item 设置
						.item 账户
						.item(onclick="location.href='/logout'") 退出登录
				a.ui.item(href='/share') 新食谱