extends layout

block head
	-if(user){var titleVar = "cook-share";}else{var titleVar = "注册"}

block content
	style.
		body{
			background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
			background-repeat: no-repeat;
			background-size: cover;
		}
	if (!user)
		.mask
		.my-container
			p.h-color.my-rem.hyys 原本料理
			p.lead.h-color 化繁从简，返璞归真
			br
			.rel-cont
				.h-form-cont.slide-container-primary
					form.ui.form(role="form", action="/register", method="post", style="max-width: 300px;")
						.field
							input.ui.input(type="text", name="username", placeholder="用户名", required, 	oninvalid	="this.setCustomValidity('用户名不能为空')")
						.field
							input.ui.input(type="password", name="password", placeholder="密码", required, 		oninvalid="this.setCustomValidity('密码不能为空')")
						button.fluid.ui.black.big.button.clickLocalStorage(type="submit") 注册
						br
						.a-home-container
							.a-home-right
								a.a-home.h-color.click-secondary 登陆
							.a-home-left
								a.a-home.h-color(href="") 找回密码
				.h-form-cont.slide-container-secondary.my-hidden
					form.ui.form(role='form', action="/login",method="post", style='max-width: 300px;')
						.field
							input.ui.input(type='text', name="username", placeholder='用户名', required, 	oninvalid	="this.setCustomValidity('用户名不能为空')")
						.field
							input.ui.input(type='password', name="password", placeholder='密码', required, 		oninvalid="this.setCustomValidity('密码不能为空')")
						button.fluid.ui.black.big.button(type='submit') 登陆
						br
						.a-home-container
							.a-home-right
								a.a-home.h-color.click-primary 注册
							.a-home-left
								a.a-home.h-color(href="") 找回密码
	if (user)
		.slide-container-primary.body-container
			.ui.secondary.menu
				a.item.active 最近流行
				a.item 关注
				a.item 我的喜欢
				.right.menu
					.item
						.ui.icon.input
							input(type="text" placeholder="搜索...")
							i.search.link.icon
					.ui.simple.dropdown.item #{user.username}
						.menu.margin0
							.item 设置
							.item 账户
							.item(onclick="location.href='/logout'") 退出登录
					.ui.animated.fade.button.item.click-secondary
						.visible.content 撰写新食谱
						.hidden.content
							i.arrow.right.icon
		.slide-container-secondary.my-hidden.body-container
			.ui.secondary.menu
				.ui.animated.fade.button.item.click-primary
					.visible.content 放弃并返回
					.hidden.content
						i.arrow.left.icon
			.center.my-container
				h1.black 最近厨艺精进了吗？#{user.username}
				br
				form.ui.form(role='form', action="/share",method="post", style='max-width: 300px;')
					.field
						input.ui.input(type='text', name="recipe_name", placeholder='食谱名', required)
					.field
						input#slide-time(type='text' data-slider-ticks="[0, 15, 30, 45, 60]" 	data-slider-ticks-snap-bounds="1" data-slider-ticks-labels=	["0", 		"15分钟", "30分钟", 	"45分钟", "60分钟"] data-slider-value="15" name="cook_time")
					.field
						input.ui.input(type='text', name="food_materials", placeholder='食材种类', required)
					
					.field
						input.ui.input(type='text', name="tips", placeholder='细节提示', required)
					//.field
						label.btn.btn-default.btn-file 浏览图片
							input.form-contorl(type='file', name="recipe_image", accept="image/png,image/jpg,image/	jpeg")
					button.fluid.ui.olive.inverted.big.button(type='submit') 提交
					a(href='/') 取消