extends layout

block content
	if (!user)
		.center.my-container
			.mask-dark
			h1 COOK-SHARE
			p.lead 与世界分享你的美味心得
			br
			form(role="form", action="http://cook-share.com/register", method="post", style="max-w			300px;")
				.form-group
					input.form-control(type="text", name="username", placeholder="用户名", required, oninvalid="this.setCustomValidity('用户名不能为空')")
				.form-group
					input.form-control(type="password", name="password", placeholder="密码", required, oninvalid="this.setCustomValidity('密码不能为空')")
				button.btn.btn-success.btn-block(type="submit") 注册
				br
				.a-home-container
					.a-home-right
						a.a-home-white(href="http://cook-share.com/login") 登陆
					.a-home-left
						a.a-home-dark(href="") 找回密码
	if (user)
		.mask-white
		nav.navbar.navbar-default
			.container-fluid
				.collapse.navbar-collapse
					a.navbar-brand(href="#") COOK-SHARE
					a.navbar-link.navbar-right.navbar-text(href="#") #{user.username}
		a(href="/logout")
			button.btn.btn-default(type="button") 注销
		&nbsp;
		a(href="/share")
			button.btn.btn-primary(type='submit') 分享食谱