extends layout
block head
  - var titleVar = "登陆"
block content
  style.
      body{
        background-image: url(/images/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
  .center.my-container
    .mask-dark
    h1.white.rem3 欢迎回来
    p.lead 与世界分享你的美味心得
    br
    form.ui.form(role='form', action="/login",method="post", style='max-width: 300px;')
      .field
          input.ui.input(type='text', name="username", placeholder='用户名', required, oninvalid="this.setCustomValidity('用户名不能为空')")
      .field
        input.ui.input(type='password', name="password", placeholder='密码', required, oninvalid="this.setCustomValidity('密码不能为空')")
      button.fluid.ui.olive.inverted.big.button(type='submit') 登陆
      br
      .a-home-container
        .a-home-right
          a.a-home.white(href="http://cook-share.com") 注册
        .a-home-left
          a.a-home.dark(href="") 找回密码

