extends layout

block content
  .container
    h1 注册
    p.lead 在cook-share与世界分享你的美味心得
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='用户名')
      .form-group
        input.form-control(type='password', name="password", placeholder='密码')
      button.btn.btn-default(type='submit') 注册
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") 取消

