extends layout

block head
	- var titleVar = "新的食谱"


block content
	.center.my-container
		h1.black 最近厨艺精进了吗？#{user.username}
		br
		form.ui.form(role='form', action="/share",method="post", style='max-width: 300px;')
			.field
				input.ui.input(type='text', name="recipe_name", placeholder='食谱名', required)
			.field
				input#slide-time(type='text' data-slider-ticks="[0, 15, 30, 45, 60]" 	data-slider-ticks-snap-bounds="1" data-slider-ticks-labels='["0", "15分钟", "30分钟", 	"45分钟", "60分钟"]' data-slider-value="15" name="cook_time")
			.field
				input.ui.input(type='text', name="food_materials", placeholder='食材种类', required)
			
			.field
				input.ui.input(type='text', name="tips", placeholder='细节提示', required)
			//.field
				label.btn.btn-default.btn-file 浏览图片
					input.form-contorl(type='file', name="recipe_image", accept="image/png,image/jpg,image/	jpeg")
			button.fluid.ui.olive.inverted.big.button(type='submit') 提交
			a(href='/') 取消