@font-face {
    font-family: 'hyys';
    src: url('../font/hyys.eot');
    src: url('../font/hyys.eot?#font-spider') format('embedded-opentype'), url('../font/hyys.svg') format('svg'), url('../font/hyys.woff2') format('woff2'), url('../font/hyys.woff') format('woff'), url('../font/hyys.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
    padding: 0;
    margin: 0;
    font: 14px;
    background-color: #fff;
    text-align: center;
    height: 100%;
    overflow-y: hidden;
}

.share-box {
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.34'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#particles-js {
    z-index: -999;
}

.d-bg {
    z-index: -1;
    /*background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    background-repeat: no-repeat;
    background-size: cover;*/
}

.mask {
    z-index: 5;
}

.hyys {
    font-family: 'hyys';
}

.error-color {
    color: rgb(145, 45, 43);
}

.success-color {
    color: rgb(26, 83, 27);
}

/*链接样式*/

a:hover {
    cursor: pointer;
}

a.a-door:hover {
    color: #000;
}

.a-door {
    cursor:
}

.a-door-box {
    display: flex;
    justify-content: space-between;
}

.a-door-left .a-door-right {
    display: flex;
    flex-direction: row;
}

.a-door-left {
    text-align: left;
}

.a-door-right {
    text-align: right;
}


/*布局*/

.d-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -150px;
    width: 300px;
    height: 400px;
}

.d-form-box {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    padding: 0;
    z-index: 10;
    margin: auto;
}
.fast-login-box{
    margin-top: 50px;
}
#login-fm, #register-fm {
    margin: 20px;
}
.user-avatar{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #eee;
    background-size: 100px 100px;
    margin:auto;
}

.fast-login-btn {
    margin:50px auto !important;
}
/*#login-btn-2{
    margin:32px 5px 32px 25px;
    width: 160px;
}*/


.rel-box {
    position: relative;
}

.center {
    /*width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;*/
}

.text-center {
    text-align: center;
}

.max-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*字体颜色与大小*/

.white {
    color: #fff;
}

.d-color {
    color: #212324;
}

.dark {
    color: #bbb;
}

.black {
    color: #000;
}

.my-rem {
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 0;
}

.login-lead, .register-lead {
    margin-top: 70px;
    font-size: 1.6rem;
}


/*.d-box input{
    background-color: rgba(255,255,255,.15) !important;
}*/

::selection {
    background-color: #222 !important;
    color: #eee !important;
}


/*覆盖semantic*/

.margin0 {
    margin-top: 0 !important;
}


/*登陆注册切换动画*/


/* ----------------------------------------------
 * Generated by Animista on 2017-3-25 16:47:49
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-4000px);
        transform: translateX(-4000px);
        opacity: 0
    }
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-4000px);
        transform: translateX(-4000px);
        opacity: 0
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(4000px);
        transform: translateX(4000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(4000px);
        transform: translateX(4000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-4000px);
        transform: translateX(-4000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-4000px);
        transform: translateX(-4000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(4000px);
        transform: translateX(4000px);
        opacity: 0
    }
}

@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(4000px);
        transform: translateX(4000px);
        opacity: 0
    }
}

.slide-out-left {
    -webkit-animation: slide-out-left 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -moz-animation: slide-out-left 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-left 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-out-right {
    -webkit-animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -moz-animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.my-hidden {
    display: none;
}
